:root {
    --white: #B3EFB2;
    --light-green: #B3EFB2;
    --medium-green: #7A9E7E;
    --dark-green: #31493C;
    --black: #001A23;
}

body {
    background-color: #001A23;
    margin: auto; 
    
}

.title {
    margin-top: 5%;
    color:#B3EFB2; 
    font-size: 60px; 
    text-align: center;
}

button {
    /* display: flex;
    flex-direction: column;  */
    width: 17ch;

    background-color: var(--dark-green);
    opacity: 65%;
    padding: 8px;
    margin: 8.5px;

    border: var(--dark-green) solid 3px;
    border-radius: 15px;

    color: var(--white);
    font-size: 17px;

    cursor: pointer;

    transition: opacity 400ms ease-in-out;
}

button:hover {
    opacity: 100%;
}

.buttons{
    display: flex;
    flex-direction: column; 
    width: 100%;
    align-items: center;
    margin-top: 8%;
}

.row1{
}

.row2{
}

.row3{
}

img {
    position:absolute;
    bottom: 10px; 
    left: 10px;
}
